<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script type="text/javascript">
    function dataProviderFunction() {
        var data = {
            "teachers": [
                {
                    "firstName": "John",
                    "lastName": "Smith",
                    "age": 30,
                    "cellPhone": "+000123456789"
                },
                {
                    "firstName": "Medie",
                    "lastName": "Lorn",
                    "age": 50,
                    "cellPhone": "+000987654321"
                },
                {
                    "firstName": "Olsom",
                    "lastName": "Clarke",
                    "age": 42,
                    "cellPhone": "+005678901234"
                },
                {
                    "firstName": "Simon",
                    "lastName": "Peres",
                    "age": 39,
                    "cellPhone": "+006789012345"
                }
            ],
            "students": [
                {
                    "firstName": "Jukone",
                    "lastName": "Mildret",
                    "age": 18,
                    "cellPhone": "+008754223678",
                },
                {
                    "firstName": "Andre",
                    "lastName": "Jokuw",
                    "age": 21,
                    "cellPhone": "+009945612345",
                },
                {
                    "firstName": "Guta",
                    "lastName": "Amira",
                    "age": 20,
                    "cellPhone": "+005484327853",
                },
                {
                    "firstName": "Park",
                    "lastName": "Suzzie",
                    "age": 19,
                    "cellPhone": "+003874562984"
                }
            ]
        };

        return data;
    }

</script>


<script>

    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true },
            { src: 'plugin/notes/notes.js', async: true }
        ]
    });

</script>

<script src="https://rawgit.com/kupolua/json-to-table/presentation/html/json-table.js"></script>